@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 1 0 0;
    --foreground: 0.1445 0 0;
    --card: 1 0 0;
    --card-foreground: 0.1445 0 0;
    --popover: 1 0 0;
    --popover-foreground: 0.1445 0 0;
    --primary: 0.2044 0 0;
    --primary-foreground: 0.9848 0 0;
    --secondary: 0.9703 0 0;
    --secondary-foreground: 0.2044 0 0;
    --muted: 0.9703 0 0;
    --muted-foreground: 0.5555 0 0;
    --accent: 0.9703 0 0;
    --accent-foreground: 0.2044 0 0;
    --destructive: 0.6368 0.2078 25.326;
    --destructive-foreground: 0.9848 0 0;
    --border: 0.9219 0 0;
    --input: 0.9219 0 0;
    --ring: 0.1445 0 0;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0 0;
    --foreground: 0.9848 0 0;
    --card: 0.1445 0 0;
    --card-foreground: 0.9848 0 0;
    --popover: 0.1445 0 0;
    --popover-foreground: 0.9848 0 0;
    --primary: 0.9848 0 0;
    --primary-foreground: 0.2044 0 0;
    --secondary: 0.2686 0 0;
    --secondary-foreground: 0.9848 0 0;
    --muted: 0.2686 0 0;
    --muted-foreground: 0.7153 0 0;
    --accent: 0.2686 0 0;
    --accent-foreground: 0.9848 0 0;
    --destructive: 0.3959 0.1331 25.721;
    --destructive-foreground: 0.9848 0 0;
    --border: 0.2686 0 0;
    --input: 0.2686 0 0;
    --ring: 0.8697 0 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
  }
  html {
    overflow: hidden;
    height: 100%;
    height: 100dvh;
    overscroll-behavior: none;
  }
  main {
    overscroll-behavior: contain;
  }
}
